<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Api.Gax" version="2.7.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Rest" version="2.7.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.40.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.40.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.40.0" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.2" targetFramework="net472" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net472" />
  <package id="Twilio" version="5.47.2" targetFramework="net472" />
</packages>